@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Mitr:wght@300&family=Nunito&display=swap');

.subtitel {
margin: 20px;


}
#frogsImg {
    width: 250px;
    position: absolute;
    color: white;
}
.RadioButtons {
    
  }
.container {
    color: black;
    position: relative;
    font-family: 'Comic Neue', cursive;
    font-style: normal;
    font-weight: 950;
    font-size: 15px;
  }

  .qustion {
    color: black;
    position: relative;
    top: 30px; left:35px;
}
.input {
      color: black;
      position: relative;
      top: 27px; left:23px;
    }


    input {
 
    appearance: none;
  
    border-radius: 50%;
    width: 14px;
    height: 15px;
  
    border: 2px solid black;
   
    margin-right: 5px;
  
    position: relative;
    top: 0px; left:0px; 


  }
  
  input:checked {
    border: 2px solid black;
   background-color:  rgb(201, 80, 43);
    
  }
  .interestedIn {
    position: relative;
    top: 25px; left:110px;
  }
  